
.dark-bg {
  background-color: color("grey", "darken-4");
}

.transparent-bg {
  background-color: rgba($secondary-color, 0.5);
}

.overlay-control-bg, .overlay-control-bg:focus, .overlay-control-bg:hover {
  background-color: rgba(black, 0.5);
}

.btn-floating i:hover {
  color: $secondary-color;
  transition: color 0.3s;
}

.btn-floating:not(:first-child), .gauge:not(:first-child) {
  margin-left:8px;
}

.content {
  position: relative;
  overflow: hidden;
  display:flex;
  width:100%;
  flex:1 1 100%;
  flex-direction:column;
  background-color:black;

  video {
    position: relative;
    display:flex;
    flex:1 1 100%;
    z-index: 1;
    object-fit:cover;
    object-position:bottom center;
  }

  .cameraOverlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem;
    z-index: 2;
    background-color: rgba(black, 0.5);
  }

  .centerOverlay {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .topOverlay {
    position: absolute;
    padding: 1.5rem;
    width:100%;
    margin: 0;
    top: 0;
    z-index: 2;
  }

  .bottomOverlay {
    position: absolute;
    padding: 1.5rem;
    width:100%;
    margin: 0;
    bottom: 0;
    z-index: 2;
  }
}

.flexContainerVertical {
  display:flex;
  flex:1 0 auto;
  flex-direction:column;
}

footer.no-top-margin {
  margin-top:0;
}

.gauge {
  display:inline-block;
  width:56px;
  height:56px;
  line-height:56px;
  position:relative;
  border-radius:50%;

  div {
    position:absolute;
  }

  i, .svg-icon {
    position:absolute;
    text-align:center;
    width:100%;
    height:16px;
    line-height:16px;
    font-size:16px;
    color:white;
    bottom:4px;

    svg {
      width:16px;
      height:16px;
      fill:white;
    }
  }
}

.btn-floating {
  fill:white;
  :hover {
    fill: $secondary-color;
    transition: fill 0.3s;
  }
  .svg-icon {
    @extend .valign-wrapper;
    height:100%;
    width:100%;
    svg {
      @extend .valign;
      width:24px;
      height:24px;
      margin:auto;
    }
  }
}

.btn-thumb {
  width:48px;
  height:48px;
}

.topOverlay {
  div {
    vertical-align:top;
  }
}

.notraised {
  box-shadow:none;
}