
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: color("grey", "lighten-4");
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top:0;

  .footer-copyright {
    height: 80px;
    line-height: 80px;
  }

}

nav {
  a {
    text-transform: uppercase;
  }

  // top-nav leftmost menu item is flush to the left.
  ul:not(.side-nav) li:first-child a {
    padding-left:0;
  }

  // top-nav rightmost menu item is flush to the right.
  ul:not(.side-nav) li:last-child a {
    padding-right:0;
  }

  ul a:hover {
      background-color: initial;
      transition: color .3s;
      color: $link-color;
  }

}

.nav-extras {
  @extend .z-depth-1;
  background-color: $primary-color;

  nav {
    box-shadow: none;
  }

}

.parallax-container {
  height: 40vh;
}

.parallax-image {
  width:100%;
  height:200%;
  object-fit:cover;
}

.lola {
  font-size: 5rem;
  font-family: 'Dancing Script', cursive;
}
