/**
 * webpi
 * (c) Gabor Varga <gabor.varga.99@gmail.com>
 */

$base-path: '../' !default;

// Base colors and variables
@import 'materialize-css/sass/components/color';

// Overwrites
$primary-color: color("light-green", "darken-2") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("yellow", "darken-4") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("yellow", "darken-4") !default;

// Materialize
@import 'materialize-css/sass/materialize';

// Customize
@import 'theme';
@import 'drive';
