{% extends 'base.html' %}

{% block title %}
<title>Vendégkönyv</title>
{% endblock %}

{% block content %}

<div class="container">

    <div class="section">
        {% if entry_list %}

        {% for entry in entry_list reversed %}
        <div class="entry_{% cycle odd,even %} card-panel">
            <p>
                <b> {% if entry.name %} {{ entry.name }} {% else %} Névtelen {% endif %}</b>
                <span class="light">&emsp;{{ entry.submit_date|date:"SHORT_DATETIME_FORMAT" }}</span>
            </p>
            {{ entry.text|linebreaks }}
        </div>
        {% endfor %}

        {% if is_paginated %}
        <div class="pagination">
            {% include "guestbook/pagination.html" %}
        </div>
        {% endif %}

        {% else %}
        <h5>A vendégkönyv üres. Írj bele!</h5>
        {% endif %}
    </div>

    <div class="section">
        {% include "guestbook/form_input.html" %}
    </div>

</div>
{% endblock %}

