{% load materializecss %}

<div class="row">
    <form class="col s12" action="{% url 'guestbook-post' %}" method="POST">
        {% csrf_token %}
        {{ form|materializecss }}
        <p class="submit col s12">
            <button class="btn waves-effect waves-light" type="submit" name="submit-post">Beküld</button>
            <button class="btn-flat waves-effect" type="submit" name="submit-preview">Előnézet</button>
        </p>
    </form>
</div>
