<ul class="pagination">

    {% if page_obj.has_previous %}
    <li class="waves-effect">
        <a href="?page={{ page_obj.previous_page_number }}">
            <i class="material-icons">chevron_left</i></a></li>
    {% else %}
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}

    {% for page_num in page_obj.paginator.page_range %}
    <li class={% if page_num == page_obj.number %} "active" {% else %} "waves-effect" {% endif %}>
        <a href="?page={{ page_num }}">{{ page_num }}</a>
    </li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="waves-effect">
        <a href="?page={{ page_obj.next_page_number }}">
            <i class="material-icons">chevron_right</i></a>
    </li>
    {% else %}
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    {% endif %}

</ul>
