{% extends 'base.html' %}

{% block title %}
<title>Vendégkönyv</title>
{% endblock %}

{% block content %}

<div class="container">
    <div class="section">

        <h5>Előnézet</h5>

        <div class="card-panel">
            <p>
                <b> {% if form.name.value %} {{ form.name.value }} {% else %} Névtelen {% endif %}</b>
                <span class="light">&emsp;{% now "SHORT_DATETIME_FORMAT" %}</span>
            </p>
            {{ form.text.value|linebreaks }}
        </div>
    </div>

    <div class="section">
        {% include "guestbook/form_input.html" %}
    </div>

</div>
{% endblock %}
