<!doctype html>
<html class='no-js'>
<head>
  {% load static from staticfiles %}

  {% block title %}
  <title></title>
  {% endblock %}

  {% block meta %}
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta charset='utf-8'/>
  <meta name='author' content='Gabor Varga'/>
  <meta name='description' content=''/>
  <meta name='keywords' content=''>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
  <meta property='og:url' content=''/>
  <meta property='og:image' content='{% static "img/og-image.png" %}'/>
  <meta property='og:title' content=''/>
  <meta property='og:description' content=''/>
  <meta name='apple-mobile-web-app-title' content='Pi Projekt'/>
  <meta name='application-name' content='Pi Projekt'/>
  <meta name='msapplication-TileColor' content='#689f38'/>
  <meta name='msapplication-TileImage' content='{% static "mstile-144x144.png" %}'/>
  <!--meta name='theme-color' content='#689f38'/-->
  {% endblock %}

  {% block icons %}
  <link rel='apple-touch-icon' sizes='57x57' href='{% static "apple-touch-icon-57x57.png" %}'/>
  <link rel='apple-touch-icon' sizes='60x60' href='{% static "apple-touch-icon-60x60.png" %}'/>
  <link rel='apple-touch-icon' sizes='72x72' href='{% static "apple-touch-icon-72x72.png" %}'/>
  <link rel='apple-touch-icon' sizes='76x76' href='{% static "apple-touch-icon-76x76.png" %}'/>
  <link rel='apple-touch-icon' sizes='114x114' href='{% static "apple-touch-icon-114x114.png" %}'/>
  <link rel='apple-touch-icon' sizes='120x120' href='{% static "apple-touch-icon-120x120.png" %}'/>
  <link rel='apple-touch-icon' sizes='144x144' href='{% static "apple-touch-icon-144x144.png" %}'/>
  <link rel='apple-touch-icon' sizes='152x152' href='{% static "apple-touch-icon-152x152.png" %}'/>
  <link rel='apple-touch-icon' sizes='180x180' href='{% static "apple-touch-icon-180x180.png" %}'/>
  <link rel='icon' type='image/png' href='{% static "favicon-32x32.png" %}' sizes='32x32'/>
  <link rel='icon' type='image/png' href='{% static "android-chrome-192x192.png"%}' sizes='192x192'/>
  <link rel='icon' type='image/png' href='{% static "favicon-96x96.png" %}' sizes='96x96'/>
  <link rel='icon' type='image/png' href='{% static "favicon-16x16.png" %}' sizes='16x16'/>
  <!--link rel='manifest' href='{% static "manifest.json" %}'/-->
  <link rel='mask-icon' href='{% static "safari-pinned-tab.svg" %}' color='#5bbad5'/>
  {% endblock %}

  {% block fonts %}
  {% endblock %}

  {% block styles %}
  <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
  <link href='{% static "css/main.css" %}' type='text/css' rel='stylesheet' media='screen,projection'/>
  {% endblock %}

  {% block head_scripts %}
  {% endblock %}

  {% block head %}
  {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block nav %}
<nav role="navigation">
  <div class="nav-wrapper container">
    <ul class="left hide-on-med-and-down">
      <li><a href="/">Lola</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href='{% url "guestbook-page-last" %}'>Vendégkönyv</a></li>
      <li><a href='{% url "drive" %}'>Tankozás</a></li>
      <li><a href='{% url "download" %}'>Letöltés</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/"><i class="material-icons left">home</i>Lola</a></li>
      <li><a href='{% url "guestbook-page-last" %}'><i class="material-icons left">import_contacts</i>Vendégkönyv</a>
      </li>
      <li><a href='{% url "drive" %}'><i class="material-icons left">videogame_asset</i>Tankozás</a></li>
      <li><a href='{% url "download" %}'><i class="material-icons left">file_download</i>Letöltés</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
{% endblock %}

<main class="{% block main_class %}{% endblock %}">
  {% block content %}
  {% endblock %}
</main>

{% block footer %}
<footer class="{% block footer_class %}page-footer{% endblock %}">
  <div class="footer-copyright">
    <div class="container">
      <div class="row valign-wrapper">
        <div class="col s12 white-text">© Varga Gábor 2016</div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}

{% block body_scripts %}
<script src='{% static "js/main.js" %}'></script>
<script src='{% static "js/init.js" %}'></script>
{% endblock %}
</body>
</html>
