{% extends 'base.html' %}
{% load static from staticfiles %}
{% load svg %}

{% block title %}
<title>Tankozás</title>
{% endblock %}

{% block body_class %}dark-bg{% endblock %}
{% block main_class %}flexContainerVertical{% endblock %}

{% block content %}

<div style="height: 0; width: 0; position: absolute; visibility: hidden">
  {% include 'drive.svg' %}
</div>

<div class="container flexContainerVertical">
  <div id="content" class="content">

    <video id="remote-video" autoplay="">
      Your browser does not support the video tag.
    </video>

    <!--div class="progress transparent-bg topOverlay">
      <div class="indeterminate"></div>
    </div-->

    <div class="centerOverlay center-align">
      <div id="progress" class="preloader-wrapper big active">
        <div class="spinner-layer">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="errorMsg" class="centerOverlay pointerReactor center-align">
      <p class="white-text">Sikertelen csatlakozás</p>
      <p>
        <button id="reload" class="waves-effect waves-light btn"><i class="material-icons left">refresh</i>Újratöltés
        </button>
      </p>
    </div>

    <div class="topOverlay pointerReactor left-align">
      <div class="gauge overlay-control-bg valign">
        <div class="svg-icon"><svg><use xlink:href="#ic_signal_24px"></use></svg></div>
        <div id="rpc"></div>
      </div>
      <div class="gauge overlay-control-bg">
        <div class="svg-icon"><svg><use xlink:href="#ic_battery_24px"></use></svg></div>
        <div id="battery"></div>
      </div>
      <div id="headlights" class="btn-floating btn-thumb waves-effect waves-light overlay-control-bg notraised">
        <div class="svg-icon"><svg><use xlink:href="#ic_headlights_24px"></use></svg></div>
      </div>
    </div>

    <div class="bottomOverlay pointerReactor right-align">
      <div id="fullscreen" class="btn-floating btn-thumb waves-effect waves-light overlay-control-bg notraised">
        <div class="svg-icon"><svg><use xlink:href="#ic_fullscreen_24px"></use></svg></div>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block footer_class %}page-footer no-top-margin{% endblock %}

{% block body_scripts %}
{{ block.super}}
<script src='{% static "js/drive.js" %}'></script>
{% endblock %}
