{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
<title>Lola</title>
{% endblock %}

{% block nav %}
<div class="nav-extras">
  {{ block.super }}
  <div class="container">
    <div class="row">
      <div class="col s12 left-align">
        <h2 class="header white-text lola">Lola</h2>
        <h5 class="header light white-text">Idő és pénz haszontalan kacatokra</h5>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block content %}

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 left-align">
        <p class="flow-text light">
          Vidd el Lolát egy körre!
        </p>
        <a class="waves-effect waves-light btn" href='{% url "download" %}'>
          <i class="material-icons left">file_download</i>Letöltés</a>
      </div>
    </div>
  </div>
  <div class="divider"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 left-align">
        <h4>Miért</h4>

        <p class="flow-text light">
          Nem jó ez sehogy sem. Mire felnőttem és végre keresek annyit, hogy elszórhatnám távirányítós játékokra,
          már ciki távirányítós játékkal játszani. (Amiből látszik, hogy az egész távirányítós dolgot a szülők
          találták ki, gyermekeik függőségben tartására.) Mit tegyek?
        </p>
        <p class="flow-text light">
          Sóhajtva lemondjak a játékról, és a társadalmilag elvárt módon kocsmába menjek
          aktív pihenésre? Na ne már! (Mármint a lemondás nanemár. A kocsma az rendben van.)
        </p>
        <p class="flow-text light">
          Megvegyem stikában, és éjjelenként a saját családom elől is bujkálva a kamrában játsszak?
          Nem működik - ezek a dolgok mind zümmögnek, világítanak. Tuti lebukás.
        </p>
        <p class="flow-text light">
          Összetákoljak egy mondvacsinált indokot, ami a távirányítós játékot a gyerekes holmiból
          Komoly És Hasznos Elfoglaltsággá emeli? Mondjuk valami ilyet: ez egy olyan hobbi, amivel új dolgokat
          tanulok, látókört szélesítek. Ami még egyszer jól jöhet a munkámban is! Hiszen a "Dolgok Internete" a jövő,
          sőt inkább a jelen! Gyorsan-gyorsan, nehogy kisodródjak az IT fősodrából, mert akkor aztán kész a baj,
          satöbbi, satöbbi. A lényeg, hogy muszáj, igazából nem is akarom én ezt, időm sincs rá, kedvem még annyi se,
          de nem lehet nem.
        </p>
      </div>
    </div>

  </div>
</div>

<div class="parallax-container">
  <div class="parallax">
    <img src='{% static "img/img_6456.jpg" %}' alt="Raspberry pi" class="parallax-image">
  </div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 left-align">
        <h4>Mit</h4>

        <p class="flow-text light">
          Lola egy <a class='accent-link' href='https://www.raspberrypi.org/products/raspberry-pi-2-model-b/'>Raspberry
          Pi 2</a> miniszámítógép, modellboltban vásárolt lánctalpból és hajtóműből barkácsolt jármű tetején.
          Az áramot 6 db ceruzaaksi biztosítja, az irányítás Wi-Fi hálózaton keresztül megy.
          Vezetni böngészőből vagy Android alkalmazással lehet, a kamera élőképét nézve, belső nézetből. A Lola név is
          innen származik, a kép minél kisebb késleltetése ("<u>Lo</u>w <u>La</u>tency") volt a legfontosabb feladat.
          Ez nagyjából 0.2 másodperc lett, ami a tank kis sebességénél teljesen használható.
        </p>
        <p class="flow-text light">
          A vezetésen kívül Lola szolgálja ki a világ legeldugottabb honlapját. Ezt, amit most olvasol.
          Csak elvétve van bekapcsolva, és olyankor is csak a belső hálózatról érhető el, így negatív látogatottsági
          rekordot dönt. Persze felfoghatjuk egy exkluzív klubként is, ahová csak az igazán kivételezettek nyernek
          bebocsájtást.
        </p>

      </div>
    </div>

  </div>
</div>

<div class="parallax-container">
  <div class="parallax">
    <img src='{% static "img/img_6457.jpg" %}' alt="Raspberry pi" class="parallax-image">
  </div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 left-align">

        <h4>Hogyan</h4>
        <p class="flow-text light">
          A Raspberry Pi kártyapakli méretű, oktatási és hobbicélra készült számítógép. Leginkább egy egy belépő szintú
          okostelefonhoz hasonlítható. Kicsi és keveset fogyaszt, akár elemről is működik. Olcsó - ha a barkácsolás
          félresikerülne, és kijön a működtető füst, nem kell a bankba szaladni. Egyébként meg teljes értékű számítógép.
          Kisebb igénybevételre (internetezés, szövegszerkesztés) akár asztali számítógépként is használható.
        </p>
        <p class="flow-text light">
          A legizgalmasabb része a csatlakozósor, ami a barkácsolókat hivatott kiszolgálni, és azt kötsz rá, amit
          akarsz.
          Így a program már nem csak pixeleket kerget egy képernyőn, hanem <i>igazi</i>, zörgő-mozgó-világító tárgyakat!
          Ennél nincs jobb mulatság.
        </p>
        <p class="flow-text light">
          Ráadásul szakértelem sem nagyon kell hozzá. Én például semmit sem konyítok az elektronikához, de szerencsére
          nem is kell. Tele az internet ügyes emberek Raspberry Pi projektjeivel, elolvastam, ugyanúgy csináltam,
          működik.
          A "bonyolultabb" alkatrészeket (motorvezérlő, feszültségszabályzó) készen vettem Kínából, fillérekért. Csak
          két kisebb áramkört barkácsoltam: egy feszültségmérőt (hogy kijelezhessem az elem töltöttségét), és egy
          tranzisztorral kapcsolható ledes világítást. (Hozzáértés híján ez utóbbi fordítottra sikeredett:
          alapállapotban bekapcsolt, és programból lehet kikapcsolni.)
        </p>

      </div>
    </div>

  </div>
</div>

<div class="parallax-container">
  <div class="parallax">
    <img src='{% static "img/img_6454.jpg" %}' alt="Raspberry pi" class="parallax-image">
  </div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 left-align">

        <h4>Tovább</h4>
        <p class="flow-text light">
          Lola, hálistennek, sosincs kész; bőven van még javítani való.
        </p>
        <p class="flow-text light">
          Nem elég gyors. Próbáltam erősebb motorral, de hamar kiderült, hogy erősebb motorhoz komolyabb tápellátás
          is kell. Mikor felgyorsítottam, a motorok elszívták az áramot a számítógép elől. Pedig egy számítógép áram
          nélkül, hogy úgy fogalmazzak, nem maradéktalanul boldog.
        </p>
        <p class="flow-text light">
          A lánctalpak sem elég jók. Oldalirányú terhelésnél (például helyben forgás bolyhos szőnyegen) leesnek.
          Katonai felhasználásra (például harci helyben forgás harci bolyhos szőnyegen) ezért egyenlőre még nem elég
          megbízható.
        </p>

      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="divider"></div>
  <div class="section">

    <div class="row">
      <div class="col s12 left-align">

        <p class="flow-text light">
          Ui. van <a href='{% url "guestbook-page-last" %}'>vendégkönyv</a>, mások mind írtak bele, te se add alább.
        </p>

      </div>
    </div>

  </div>
</div>

{% endblock %}
