{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
<title>Ó jaj!</title>
{% endblock %}

{% block content %}

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12">

        <p>
          <image style="height:100px; margin-right:24px;" src='{% static "img/android_facepalm.svg" %}'
                 alt="Android-facepalm" align="left"></image>
        </p>
        <h5>
          Ó jaj!
        </h5>
        <p class="flow-text light">
          Csak Android alkalmazás van, az ide nem lesz jó.
        </p>
        <p class="flow-text light">
          Jobb híján vezethetsz böngészőből is, de az Android sokkal jobb. Egyrészt a kamera késleltetése kisebb,
          technikai okokból.
          Másrészt az Android kód jobb minőségű, mert ahhoz értek, böngészőhöz meg alig.
        </p>
        <p class="flow-text light">
          Ha van kéznél telefon, elő vele!
        </p>
        <a class="waves-effect waves-light btn" href='{% url "drive" %}'>Azért is böngésző</a>
      </div>
    </div>

  </div>
</div>

{% endblock %}
